{
  "server": {
    "port": 9393
  },
  "default": {
    "database": "mysql"
  },
  "database": {
    "mysql": {
      "hostname": "localhost",
      "username": "root",
      "password": "root",
      "database": "listie"
    }
  }
}